.card_news {
  position: relative;
  margin: 20px auto;
  max-width: 1600px;

  &-date {
    margin: auto;
    white-space: nowrap;
    font-family: fantasy;
    font-size: 1.4em;
  }

  &-content {
    display: flex;

    &-info {
      width: 50%;

      &-header {
        border-bottom: 1px solid saddlebrown;

        &-title {
          font-size: 1.3em;
          text-transform: uppercase;
          color: saddlebrown;
        }

        a:hover {
          text-decoration: none;
          color: saddlebrown;
        }
      }

      &-description {

      }

      &-link {
        position: absolute;
        right: 16px;
        bottom: 16px;

        a {
          font-size: 1.2em;
          color: sandybrown;
        }

        &:hover {
          color: sandybrown;
        }
      }
    }

    &-img {
      width: 30%;
      height: 200px;
      margin-right: 8px;
      border-radius: 3px;
    }
  }
}

.card_news:hover {
  transform: translateY(-5px);
  transition: 0.2s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}