.header {
  position: fixed;
  display: inline-flex;
  background-color: sandybrown;
  height: 60px;
  width: 100%;
  z-index: 50;

  &-navbar {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-family: Forum, serif;
    font-size: 22px;
    line-height: 44px;
    padding: 0 10px;
    color: #FFFFFF;

    &-item {

      &.-active {
        color: gold;
      }
    }
  }

  &-bucket {
    margin: auto 24px;
  }

  li {
    cursor: auto;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: #FFFFFF;
  }

  &:hover, &:visited {
    text-decoration: none;
  }
}