.mobile_menu {
  position: fixed;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #808080;
  // background-color: saddlebrown;
  overflow: auto;
  transition: width .4s ease-out;

  &.-active {
    width: 100%;
  }

  &-wrapper {
    position: relative;
    top: 60px;
    border-top: 2px outset;

    &-close {
      width: 0;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    &-border {
      display: block;
      margin-left: -40px;
      border: 2px outset;
    }

    ul {
      display: block;
      padding: 0;

      li {
        padding: 20px;
        font-size: 18px;

        &:nth-last-child(1) {
          margin-bottom: 30px;
        }
        a {
          &:hover {
            color: gold;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
