/* Крестик */
.custom_close {
  padding: 0 8px;
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  opacity: 0.75;

  &:before, &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 15px;
    height: 3px;
    background-color: $brand-brown;
    transition: 0.5s;
    content: '';
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 1;
  }
}

/* Плюс */
.custom_add {
  padding: 0 8px;
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  opacity: 0.75;

  &:before, &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 15px;
    height: 3px;
    background-color: $brand-brown;
    transition: 0.5s;
    content: '';
  }

  &:after {
    transform: rotate(90deg);
  }

  &:hover {
    opacity: 1;
  }
}

/* Минус */
.custom_subtract {
  padding: 0 8px;
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  opacity: 0.75;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 15px;
    height: 3px;
    background-color: $brand-brown;
    transition: 0.5s;
  }

  &:hover {
    opacity: 1;
  }
}

/**/
.scroll_block {
  height: 100vh!important;
  overflow: hidden;
}