.bucket {
  &-header {
    display: flex;
    margin-bottom: 48px;

    &-item {
      margin-left: 16px;
    }
  }

  &-table {
    &-row {
      display: flex;
      margin-bottom: 24px;

      &-img {
        width: 80px;
      }

      &-info {
        display: flex;
        padding-bottom: 8px;
        border-bottom: 1px solid saddlebrown;
      }
    }

  }
}