.bucket {
  &-header {
    display: flex;
    padding-left: 120px;
    margin-bottom: 16px;

    &-title {
      width: 50%;
      text-align: center;
      white-space: nowrap;
    }

    &-item {
      width: 20%;
      white-space: nowrap;
    }
  }

  &-table {
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      &-img {
        width: 120px;
        margin-right: 16px;
      }

      &-info {
        display: flex;
        justify-content: center;
        width: calc(100% - 120px);
        padding-bottom: 8px;
        border-bottom: 1px solid saddlebrown;

        &-title {
          width: 40%;
        }

        &-count {
          display: flex;
        }

        &-ceil {
          width: 20%;
          text-align: center;
          white-space: nowrap;
        }

      }

      &-remove {
        margin: 0 16px;
      }
    }
  }

  &-order {
    &-title {
      text-align: center;
    }
  }
}

.shopping_cart {
  position: relative;

  span {
    position: absolute;
    top: 85%;
    left: 85%;
    width: 20px;
    height: 20px;
    color: white;
    background-color: gold;
    border-radius: 50%;
    text-align: center;
    line-height: 1.3;
    white-space: nowrap;
  }

  img {
    width: 50px;
    height: 50px;
  }
}