.Home {

  .Link-Button {
    text-align: center;

    button {
      display: block;
      margin: 0 auto;
      color: $brand-brown;
      font-weight: 600;
      border-color: $brand-brown;
      border-radius: 50px;
      transition: .4s;

      &:hover {
        color: #f9f9f9;
        background-color: $brand-brown;
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
    }
  }

  .Section {
    &-about {
      padding: 20px;
      border: 1px dashed $brand-brown;
      display: flex;

      &-image {
        margin: 20px;
        background-image: url("../../static/img/meat.jpg");
        width: 320px;
        height: 320px;
      }

      &-block {
        float: right;
        width: calc(100% - 350px);

        &-header {
          font-size: 1.5rem;
          font-weight: 600;
          color: $brand-brown;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 20px;
        }

        &-info {
          font-size: 1rem;
          margin-bottom: 30px;
        }
      }

      @include media-breakpoint-down(xsm) {
        display: block;

        &-image {
          margin: 0 auto;
        }

        &-block {
          float: none;
          width: 100%;
        }
      }
    }

    &-menu {
      padding: 20px;
      border: 1px dashed $brand-brown;

      &-header {
        font-size: 1.5rem;
        font-weight: 600;
        color: $brand-brown;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
      }

      &-info {
        font-size: 1rem;
        color: $brand-grey;
        text-align: center;
        margin-bottom: 30px;
      }

    }

    &-delivery {
      padding: 20px;
      border: 1px dashed $brand-brown;

      &-header {
        font-size: 1.5rem;
        font-weight: 600;
        color: $brand-brown;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
      }

      &-info {
        font-size: 1rem;
        color: $brand-grey;
        text-align: center;
        margin-bottom: 30px;
      }

      &-order {
        text-align: center;

        &-phone {
          font-weight: 700;
          color: $brand-blue;
          text-decoration: underline;
        }

        &-link {
          font-weight: 600;
          text-decoration: none;
        }
      }
    }

    &-promo {
      padding: 20px;
      border: 1px dashed $brand-brown;

      &-header {
        font-size: 1.5rem;
        font-weight: 600;
        color: $brand-brown;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
      }

      &-info {
        font-size: 1rem;
        color: $brand-grey;
        text-align: center;
        margin-bottom: 30px;
      }

    }

    &-map {

    }
  }
}