.menu {
  display: flex;
  position: relative;
  //height: calc(100vh - 245px);
  padding: 8px 0 0 16px;
  background-color: #fff;

  &-categories {
    //padding-right: 32px;
    position: fixed;
    border-right-style: inset;
    height: calc(100vh - 287px);
    width: 250px;

    &-title {
      width: 180px;
      font-size: 1.4em;
      font-family: fantasy;
      text-align: center;
      margin: 0 auto 16px;
      border-bottom: dotted;
    }

    &-content {
      height: calc(100vh - 313px - 37px);
      overflow: hidden;

      &-item {
        display: block;
        padding: 20px 10px;
        font-size: 18px;
        color: $brand-lightgrey;

        &.-active {
          color: gold;
        }

        &:hover {
          color: $brand-black;
        }
      }

      &:hover {
        overflow: auto;
        overflow-x: hidden!important;
      }
    }

    a {
      text-decoration: none;
    }
  }

  &-wrapper {
    padding-left: 250px;
    width: 100%;
    //height: calc(100vh - 287px);
    //overflow-y: scroll;
    //overflow-x: hidden;

    &-header {
      font-size: 1.6em;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      padding: 0 32px;
    }
  }



  &-empty {
    margin: 0 auto;
    align-self: center;
    height: calc(100vh - 287px);
  }
}