/*
.order {
  display: block;

  &-button {
    display: block;
    margin: 8px;
    text-transform: uppercase;
    border-radius: 10px;
  }

  select {
    display: block;
  }

  textarea {
    display: block;
    resize: none;
  }
}*/

.order {
  display: flex;

  &-img {
    border-radius: 5px;
    width: 45%;
    margin: 20px 40px;
  }
}
