.order {
  display: block;

  &-button {
    display: block;
    margin: 8px;
    text-transform: uppercase;
    border-radius: 10px;
  }

  select {
    display: block;
  }

  textarea {
    display: block;
    resize: none;
  }
}