.page {
  display: block;
  margin: 60px auto 0;
  min-height: calc(100vh - 268px);
  background-color: #fff;

  &-container {
    padding: 1.25rem;
    max-width: 1150px;
    margin: 0 auto;

    &-title {
      text-align: center;
    }
  }
  @include media-breakpoint-down(xl) {
    &-container {
      max-width: 800px;
    }
  }

  @include media-breakpoint-down(sm) {
    &-container {
      padding: .25rem;
    }
  }
}