.page {
  display: block;
  min-height: calc(100vh - 268px);
  background-color: #fff;

  &-container {
    padding: 0 1.25rem 1.25rem;
    max-width: 1150px;
    width: 100%;
    margin: 68px auto 0;

    &-title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-down(xl) {
    &-container {
      max-width: 800px;
    }
  }

  @include media-breakpoint-down(sm) {
    &-container {
      padding: 0 .25rem .25rem;
    }
  }
}
