.page {
  display: block;
  margin: 60px auto 0;
  min-height: calc(100vh - 245px);
  background-color: #fff;
  //width: 90%;

  &-title {
    text-align: center;
  }

  @include media-breakpoint-down(lg) {
    margin: 60px 0 0;
    width: 100%;
  }
}