.reviews {
  &-empty {
    text-align: center;
    margin-bottom: 32px;
  }

  &__action {
    text-align: center;
  }

  &__hint {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }
}
