.caption2 {
  font-size: var(--typography-font-size-caption2);
}

.caption2.light {
  font-weight: var(--typography-font-weight-light);
  letter-spacing: var(--typography-letter-spacing-caption2-light);
}

.caption2.regular {
  font-weight: var(--typography-font-weight-regular);
  letter-spacing: var(--typography-letter-spacing-caption2-regular);
}

.caption2.medium {
  font-weight: var(--typography-font-weight-medium);
  letter-spacing: var(--typography-letter-spacing-caption2-medium);
}

.caption2.bold {
  font-weight: var(--typography-font-weight-bold);
  letter-spacing: var(--typography-letter-spacing-caption2-bold);
}

.caption2.loose {
  line-height: var(--typography-line-height-caption2-loose);
}

.caption2.normal {
  line-height: var(--typography-line-height-caption2-normal);
}

.caption2.tight {
  line-height: var(--typography-line-height-caption2-tight);
}