.WorkTimes {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  column-gap: var(--indent-xxs);
  margin-bottom: var(--indent-xs);
}

.time {
  color: #212529ab;
}