.bucket {
  &-header {
    display: flex;
    padding-left: 120px;
    margin-bottom: 16px;

    &-title {
      width: 50%;
      text-align: center;
      white-space: nowrap;
    }

    &-item {
      width: 20%;
      white-space: nowrap;
    }
  }

  &-table {
    max-height: 350px;
    overflow-y: auto;
    padding: 0 12px;
    margin-bottom: 12px;

    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      &-img {
        width: 120px;
        margin-right: 16px;
        border-radius: 5px;
      }

      &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 120px);
        padding-bottom: 8px;
        border-bottom: 1px solid $brand-brown;

        &-title {
          width: 40%;
        }

        &-count {
          display: flex;
          max-height: 30px;
          max-width: 90px;

          &-input {
            width: 30px;
            border-radius: 50%;
            border-color: $brand-brown;
            border-style: solid;
            text-align: center;
            outline: none;
          }
        }

        &-ceil {
          width: 20%;
          text-align: center;
          white-space: nowrap;
        }

      }

      &-remove {
        margin: 0 16px;
      }
    }

    &__action {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
    }

    &__arrange {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 32px 0;

      button {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    &__hint {
      position: absolute;
      right: 0;
      bottom: -22px;
      font-size: 10px;
      line-height: 14px;
      text-align: end;
    }
  }

  &-order {
    &-title {
      text-align: center;
    }

    &__cash {
      display: flex;
      align-items: center;
      margin: 8px 0;

      .field {
        width: 80px;
        display: flex;
        justify-content: center;
      }
    }

    &__polit {
      font-size: 14px;
      line-height: 16px;
    }

    &__total {
      margin-bottom: 8px;
    }

    &__button {
      margin-bottom: 32px;
      text-align: center;

      button {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }

    }
  }

  @include media-breakpoint-down(sm) {
    &-header {
      padding-left: 0;

      &-title {
        width: 40%;
      }

      &-item {
        width: auto;

        &:nth-last-child(2) {
          margin-right: 20px;
        }
      }
    }

    &-table {
      &-row {
        &-img {
          width: 50px;
          margin-right: 8px;
        }

        &-info {
          width: 100%;
        }

        &-remove {
          margin: 0;
        }
      }

      &__price {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &-order {
      &__total {
        text-align: center;
      }

      .MuiFormControl-root {
        width: 90% !important;
      }
    }
  }
}

.shopping_cart {
  position: relative;

  &-wrapper {
    margin-bottom: 20px;
    border-bottom: 2px dashed #f9f9f9;
  }

  &-bucket {
    cursor: pointer;

    &-count {
      position: absolute;
      top: 10%;
      left: 75%;
      width: 20px;
      height: 20px;
      color: white;
      background-color: rgb(0, 128, 0);
      border-radius: 50%;
      text-align: center;
      line-height: 1.3;
      white-space: nowrap;
      z-index: 10;
    }

    &:hover {
      span {
        background-color: red;
      }
    }
  }

  &-info {
    min-width: 570px;
    background-color: #f9f9f9;
    position: absolute;
    top: 60px;
    right: 0;
    opacity: 0;
    display: none;
    padding: 24px;
    border-radius: 5px;
    transition: 0.5s ease;
    box-shadow: 0 8px 32px rgba(14, 14, 14, 0.16);

    &.-active {
      opacity: 1;
      display: block;
    }

    &-content {
      margin-bottom: 20px;
      border-bottom: 2px dashed saddlebrown;

      &-list {
        margin-bottom: 20px;
        max-height: 360px;
        overflow-x: hidden;
        overflow-y: auto;

        &-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 8px;

          &-title {
            width: 40%;
            overflow: hidden;
          }

          &-count {
            display: flex;
            width: 30%;
            height: 100%;
            max-width: 90px;

            &-input {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border-color: $brand-brown;
              border-style: solid;
              text-align: center;
              outline: none;
            }
          }

          &-price {
            width: 20%;
            margin: auto;
            text-align: center;
          }

          &-remover {
            width: 10%;
          }
        }
      }
    }

    &-footer {
      display: flex;

      &-price {
        width: 50%;
        font-size: 1.2rem;
      }

      &-button {
        width: 50%;
        display: flex;
        justify-content: space-evenly;

        button {
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }

    @include media-breakpoint-down(sm) {
      min-width: 300px;
      right: -50%;
      width: 80%;
      padding: 16px 8px;

      &-footer {
        display: block;

        &-price {
          width: auto;
          text-align: center;
          font-size: 1.4rem;
          margin-bottom: 8px;
        }

        &-button {
          width: auto;
        }
      }
    }
  }

  img {
    width: 50px;
    height: 50px;
  }
}
