.menu {
  display: flex;
  position: relative;
  padding: 0 0 16px;
  // background-color: #fff;
  margin-top: 16px;
  overflow: hidden;

  &-feed {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    list-style: none;
    overflow-x: auto;
    height: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-top: 1px solid darkgrey;
    background-color: #fff;

    &-item {
      margin-right: 16px;
      margin-bottom: 8px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      color: $brand-brown;
      text-decoration: none;

      &.-active {
        border-bottom: 2px solid;
      }

      &:hover {
        color: #008000;
        text-decoration: none;
      }
    }

    &.-fixed {
      position: fixed;
      top: 58px;
      left: 0;
      right: 0;
    }

    &::-webkit-scrollbar {
      height: 0;
    }

    @include media-breakpoint-down(md) {
      display: flex;
    }
  }

  &-categories {
    position: fixed;
    padding-top: 8px;
    border-right-style: inset;
    height: calc(100vh - 87px);
    width: 250px;

    &-title {
      width: 180px;
      font-size: 1.4em;
      text-align: center;
      margin: 0 auto 16px;
      border-bottom: dotted;
    }

    &-content {
      height: calc(100vh - 113px - 37px);
      overflow: hidden;

      &-item {
        display: block;
        padding: 16px;
        font-size: 18px;
        color: $brand-brown;

        &.-active {
          color: #008000;
        }

        &:hover {
          color: coral;
          background-color: antiquewhite;
          transform: scale(1.02);
          transition: 0.3s;
        }
      }

      &:hover {
        overflow: auto;
        overflow-x: hidden !important;
      }
    }

    a {
      text-decoration: none;
    }

    &.-fixed {
      position: absolute;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &-wrapper {
    padding-left: 250px;
    padding-top: 8px;
    width: 100%;

    &-header {
      font-size: 1.6em;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      padding: 0 32px;
    }

    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-top: 60px;
    }
  }


  &-empty {
    margin: 0 auto;
    align-self: center;
    height: calc(100vh + 287px);
  }
}
