.BurgerButton {
  display: none;
  margin: auto 0 auto var(--indent-l);
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  z-index: 10;
}

.BurgerButton span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px; /* половина высоты */
  margin-left: -10px; /* половина ширины */
  height: 2px;
  width: 20px;
  background-color: var(--color-saddle-brown);
  transition: 200ms;
}

.BurgerButton span:before,
.BurgerButton span:after {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  width: 20px;
  background-color: var(--color-saddle-brown);
  transition: 200ms;
}

.BurgerButton span:before {
  transform: translateY(-5px);
}

.BurgerButton span:after {
  transform: translateY(5px);
}

.open {
  transition: 400ms;
  background-color: white;
}

.open span {
  height: 0;
}

.open span:before {
  transform: rotate(45deg);
}

.open span:after {
  transform: rotate(-45deg);
}

@media (max-width: 1280px) {
  .BurgerButton {
    display: block;
  }
}

@media (max-width: 768px) {
  .BurgerButton {
    margin: auto 0 auto var(--indent-m);
  }
}