.form_login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .MuiFormControl-root {
    margin-bottom: 16px;
  }

  &__submit {
    margin: 16px 0;
    button {
      width: 100%;
    }
  }
}
