.header {
    height: 72px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.header__logo {
    height: 64px;
    width: auto;
    margin-left: 20px;
}