.card-history-orders {
  width: 400px;
  height: 400px;
  background-color: bisque;
  padding: 20px;
  border-radius: 10px;

  &__block-address {
    padding-bottom: 8px;
    border-bottom: 1px solid #D7D7D7;
  }

  &__block-price {

  }

  &__block-date {

  }

  &__date {
    font-size: 16px;
    font-weight: 600;
  }

  &__address {

  }

  &__price {

  }

  &__info {
    height: 320px;
  }

  &__button-repeat {
    display: flex;
    justify-content: center;
  }
}