@font-face {
  font-family: 'Rochambeau Regular';
  src: url("../static/fonts/Rochambeau Regular.ttf") format('truetype');
}

@font-face {
  font-family: '1925MyToyPrintDeluxePro-Bold';
  src: url("../static/fonts/1925MyToyPrintDeluxePro-Bold.ttf") format('truetype');
}

@font-face {
  font-family: '1925MyToyPrintDeluxePro-Bold';
  src: url("../static/fonts/1925MyToyPrintDeluxePro-Normal.ttf") format('truetype');
}