.promos {
  padding: 8px 24px;

  &-title {
    text-align: center;
    margin-bottom: 16px;
  }

  &-wrapper {
    display: flex;
  }


  &-form {
    &-wysivyg {
      width: 280px;
      min-height: 300px;
      max-width: 300px;
      border: 1px solid $brand-light-gray;

      .rdw-editor-main {
        padding: 10px;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .promos {
    &-wrapper {
      flex-direction: column;
    }
  }
}