.header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 2;

  &-logo {
    margin-left: 20px;
    height: 64px;
    width: auto;
    display: block;
  }

  &-logout {
    margin: auto 16px;
  }
}